.content {
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    
    flex-direction: row;
}
.profile-post-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: 100%;
}
.profile_headers {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 42px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C5C5C5;
    max-width: 100%;
    box-shadow: 0 8px 26px -12px rgba(38, 50, 56, 0.10)
    
    
}


    

.btn--showmore {
    max-width: 90px;
    align-self: center;
    
}
.profile-post-myposts {
   max-height: 100%;
   overflow: hidden;
   margin-bottom: 50px;
}
.profile-post-likes {
   height: 100%;
   overflow: hidden;
}
@media screen and (min-width: 1920px) and (max-width: 2559px) {
.profile-post-myposts {
  flex: 1 1 0;
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 50px;
}

.profile-post-likes {
  flex: 1 1 0;
  max-height: 80vh;
  overflow-y: auto;
} }